"workshopitem"
{
	"appid"			"$appid"
	"publishedfileid"	"$publishedfileid"
	"contentfolder"		"$contentfolder"
	"previewfile"		"$previewfile"
	"visibility"		"$visibility"
	"title"			"$title"
	"description"		"$description"
	"changenote"		"$change_note"
}
